.storybook-divider {
    border: none;
    background-color: #ccc;
    color: #ccc;
    height: 1px;
}
.storybook-divider--primary {
}
.storybook-divider--secondary {
}
.storybook-divider--thin {
  border: none;
}
.storybook-divider--medium {
  border-top: 1px solid;
}
.storybook-divider--thick {
  border-top: 2px solid;
}

.storybook-divider--light {
 background-color: lightgrey; 
}

.storybook-divider--dark {
 background-color: darkslategrey; 
}