/* .collapse {
  display: none; 
 
} */
/* 
/* .open {
  display: block;
  transition: max-height 0.2s ease-out;
} */

.collapse {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
