* {
  box-sizing: border-box;
}

.carousel-container {
  max-width: 1000px;
  position: relative;
  margin: auto;

  /* height: 2rem; */
  background-color: gray;
}

.slide {
  display: none;
}

.show {
  display: block;
}
.hide {
  display: none;
}

.img {
  /* max-height: 400px; */
  height: 350px;
  object-fit: cover;
  /* fill | contain | cover | none | scale-down */
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}
