body {
  margin: 0 !important;
  padding: 0 !important;
}
.jumbotron {
  width: 90%;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 70px 20px;
  border-radius: 5px;
}

.fluid {
  width: 100%;
  margin: 0;
  border-radius: 0;
}
