.row {
    padding: 5px;
}
.light {
    color: #000;
    background-color: pink;
}
.dark {
    color: #f7f7f7;
    background-color: #001100;
}
.flex {
    display: flex;
    justify-content: space-evenly;
}

.flex-justify-left {
    justify-content: flex-start;
}

.flex a {
    display: block;
    margin: 5px;
    padding: 5px;
    width: 100%;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

@media (min-width: 640px) {
    .sm\:center {
        text-align: center;
    }
    .sm\:left {
        text-align: left;

    }
    .sm\:right {
        text-align: right;
    }
    .sm\:flex-justify-left {
        justify-content: flex-start;
    }
}


@media (min-width: 768px) {}
@media (min-width: 1024px) {}
@media (min-width: 1280px) {}
@media (min-width: 1536px) {}
